.table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-top: 16px;
  }
  
  .table__header {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(103, 153, 96);
    color: white;
  }
  
  .table__row {
    border: 1px solid black;
    padding: 10px;
  }
  
  .table__cell {
    border: 1px solid black;
    padding: 10px;
  }
  
  .table__cell--place {
    color: white;
    background-color: rgb(103, 153, 96);
  }
  
  .table__row:hover {
    background-color: rgb(218, 215, 212, 0.5);
  }